<div>
    <h2 class="view-title">Edit #{{ vm.todo.id }}</h2>
    <form>
        <div>
            <label for="todo-summary">Summary</label>
            <input type="text" ng-model="vm.todo.summary" id="todo-summary" />
        </div>
        <div>
            <label for="todo-complete">Completed</label>
            <input type="checkbox" ng-model="vm.todo.complete" id="todo-complete" />
        </div>
    </form>
    <div class="actions">
        <a href="/">Back to list</a>
        <button ng-click="vm.remove()">Remove this todo</button>
    </div>
</div>